<mat-toolbar style="background-color: #ad0c00; height: 50px;" class="flex justify-between items-center">
    <span class="text-xl font-bold ml-2 text-white">Hottgenroth Software</span>
    <span class="text-xl font-bold ml-2 text-white hidden lg:inline">KAMIN Futura</span>
</mat-toolbar>

<mat-toolbar class="bg-gray-800 h-5 flex justify-start items-center overflow-x-auto" style="height: 35px;">
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">help</mat-icon>
    </button>
    <input class="border-2 border-white mx-0.5 my-0.5 h-4 text-white text-xs" type="text" placeholder="Nr.">
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">123</mat-icon>
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">abc</mat-icon>
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">house</mat-icon>
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">person</mat-icon>
    </button>
    <div style="border-left:1px solid #ffffff;height:25px" class="mx-2"></div>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">apps</mat-icon>
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">public</mat-icon>
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">search</mat-icon>
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">menu</mat-icon>
    </button>
    <div style="border-left:1px solid #ffffff;height:25px" class="mx-2"></div>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">description</mat-icon>
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">calendar_month</mat-icon>
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">more</mat-icon>
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">schedule</mat-icon>
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">mail</mat-icon>
    </button>
    <div style="border-left:1px solid #ffffff;height:25px" class="mx-2"></div>
    <button mat-raised-button class="text-xs mx-0.5 my-0.5 text-white bg-212121">QM/UM</button>
    <div style="border-left:1px solid #ffffff;height:25px" class="mx-2"></div>
    <button mat-raised-button class="text-xs mx-0.5 my-0.5 text-white bg-212121">Pool +</button>
    <div style="border-left:1px solid #ffffff;height:25px" class="mx-2"></div>
    <button mat-fab extended class="text-xs mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">mail</mat-icon>
        Office Online
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">cloud_off</mat-icon>
        Cloud
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">calendar_today</mat-icon>
        Office 366
    </button>
    <button small-icon-button class="mx-0.5 my-0.5 text-white bg-212121">
        <mat-icon style="font-size: 18px;">assignment</mat-icon>
        Projekte
    </button>
</mat-toolbar>
