<form class="space-y-1 p-2">
  <div class="flex items-center space-x-0.5 mb-1">
      <label class="text-gray-700 text-xs w-24">Anrede</label>
      <select class="border rounded h-4 w-35 text-xs text-gray-700 focus:outline-none focus:ring focus:border-blue-300">
        <option value="" disabled selected>Wählen</option>
        <option value="herr">Herr</option>
        <option value="frau">Frau</option>
        <option value="divers">Divers</option>
      </select>
  </div>

  <div class="flex items-center space-x-0.5 mb-1">
    <label class="text-gray-700 text-xs w-24">Vor- | Nachname</label>
    <input type="text" class="border rounded w-1/2 h-4 text-xs text-gray-700">
    <input type="text" class="border rounded w-1/2 h-4 text-xs text-gray-700">
  </div>

  <hr class="bg-gray-300 my-1">

  <div class="flex items-center space-x-0.5 mb-1">
    <label class="text-gray-700 text-xs w-24">Straße | Nr.</label>
    <input type="text" class="border rounded w-3/4 h-4 text-xs text-gray-700">
    <input type="text" class="border rounded w-1/4 h-4 text-xs text-gray-700">
  </div>

  <div class="flex items-center space-x-0.5 mb-1">
    <label class="text-gray-700 text-xs w-24">PLZ | Ort</label>
    <input type="text" class="border rounded w-1/4 h-4 text-xs text-gray-700">
    <input type="text" class="border rounded w-3/4 h-4 text-xs text-gray-700">
  </div>

  <div class="flex items-center space-x-0.5 mb-1">
    <label class="text-gray-700 text-xs w-24">Ortsteil | Land</label>
    <input type="text" class="border rounded w-1/2 h-4 text-xs text-gray-700">
    <input type="text" class="border rounded w-1/2 h-4 text-xs text-gray-700">
  </div>

  <div class="flex items-center space-x-0.5 mb-1">
    <label class="text-gray-700 text-xs w-24">Telefon | Mobil</label>
    <input type="text" class="border rounded w-1/2 h-4 text-xs text-gray-700">
    <input type="text" class="border rounded w-1/2 h-4 text-xs text-gray-700">
  </div>

  <div class="flex items-center space-x-0.5 mb-1">
    <label class="text-gray-700 text-xs w-24">E-Mail | Web</label>
    <input type="text" class="border rounded w-1/2 h-4 text-xs text-gray-700">
    <input type="text" class="border rounded w-1/2 h-4 text-xs text-gray-700">
  </div>
</form>
